.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview-info {
    background: #ffdfa7;
    border: 5px solid #ca9650;
    height: 100px;
    width: 100px;
    text-align: center;
}

.field-title {
    text-transform: capitalize;
    font-weight: bold;
}

.field-value {
    font-weight: normal;
}
